$background: #fff;
$tabs-base-color: #fff;
$red: #BD2C29;

$labelHeight: 40px;

body {
  padding: 20px;
  text-align: left;
  font-family: 'Helvetica', 'sans-erif';
  color: #000; 
  background: $background;  
}
main {
  max-width: 1200px;
  margin: auto;
}
h1 {
  font-weight: normal;
  font-size: 40px;
  font-weight: normal;
  float: left;
  margin: 20px 0 100px 10px; 
  span { 
    font-size: 13px;
    display: block;
    padding-left: 4px;
  }
}
.tabs {
  float: none;
  list-style: none;
  position: relative;
  padding: 0;
  text-align: left;
  > li {
    float: left;
    display: block;
  }
  input[type="radio"] {
    position: absolute;
    top: 0;
    left: -9999px;
  }
  .tab-header {
    margin-bottom: 8px;
  }
  .tab-label {
    display: block;
    padding: 5px 20px;
    border-radius: 2px 2px 0 0;
    border-bottom: 3px solid transparent;
    font-size: 20px;
    font-weight: normal;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    transition: all 0.2s ease-in-out;
    &:hover {
      background: 3px solid lighten($red, 30);
    }
  }
  .event-label {
    display: flex;
    height: $labelHeight;
    line-height: $labelHeight;

    .event-label-text {
      min-width: 10%;
      margin-right: $labelHeight / 2;
    }

    .Select {
      flex: 1;

      .Select-control {
        height: $labelHeight;
        border-radius: 0;
      }
    }
  }
  .event-filter-apply {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  .event-list {
    list-style: none;
  }
  .tab-content{
    z-index: 2;
    display: none; 
    overflow: hidden;
    width: 100%;
    font-size: 17px;
    line-height: 25px;
    padding: 25px;  
    position: absolute;
    top: 50px;
    left: 0; 
  }
  //The Magic
  [id^="tab"]:checked + label { 
    top: 0;
    border-bottom: 3px solid $red;
  }
  [id^="tab"]:checked ~ [id^="tab-content"] {
    display: block;
  }
}
p.link {
  clear: both;
  margin: 380px 0 0 15px;
  a {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: darken($tabs-base-color, 15);
    transition: all 0.2s ease-in;
    &:hover {
      background-color: darken($tabs-base-color, 20);
    }
  }
} 